* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

:root {
  --primary-color-1: #5d5d81;
  --primary-color-2: #ecdb9d;

  --secondary-color-1: #3bee55;

  --background-color-1: #bfcde0;

  --highlight-1: #000505;
}

p {
  font-size: 0.8rem;
}

main {
  background-color: var(--background-color-1);
  padding-top: 1rem;
  min-height: 90vh;
}

.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 0.5rem;
}

.large-cover-img {
  grid-column: 1/7;
  height: 220px;
  width: 145px;
  object-fit: contain;
}

.img-button {
  background-color: inherit;
  pointer-events: all;
  border-radius: 3px;
  border: solid 2px black;
}

.img-button:hover,
.img-button:focus {
  background-color:white;
}

/* Route Transitions */

.slide-enter {
  position: fixed;
  left: -100%;
}

.slide-enter.slide-enter-active {
  position: fixed;
  left: 0;
  transition: left 0.3s ease-in;
  
}

.slide-exit {
  position: fixed;
  left: 0;
}

.slide-exit.slide-exit-active {
  position: fixed;
  left: -100%;
  transition: left 0.3s ease-out;
}
