.result-card-container {
  padding: 0.5rem;
  background-color: var(--primary-color-2);
  margin: 0.5rem;
  border-radius: 10px;
  position: relative;
  border: solid 3px var(--highlight-1);
}

.search-cover-img {
  grid-column: 1/5;
  height: 180px;
  width: 90px;
  object-fit: contain;
  z-index: 2;
}

.result-info-container {
  grid-column: 5/13;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

