.search-form {
  padding: 0.5rem;
  width: 320px;
  margin: auto;
  background-color: var(--primary-color-2);
  border-radius: 20px;
  border: solid 3px var(--highlight-1);
}

.search-form__field {
  display: flex;
  flex-direction: column;
}

.search-form__submit {
  width: 100%;
}