.book-details-container {
  padding: 1rem;
  background-color: var(--primary-color-2);
  border-radius: 20px;
}

.book-details-container > * {
  margin-bottom: 1rem;
}

.main-info {
  grid-column: 7/13;
}

.description-container {
  align-self: flex-start;
}

.action-container {
  display: flex;
  justify-content: space-around;
}