.book-form-container {
  padding: 1rem;
  background-color: var(--primary-color-2);
  border-radius: 20px;
  width: 320px;
  margin: auto;
  border: solid 3px var(--highlight-1)
}

.book-form__field {
  display: flex;
  flex-direction: column;
  margin: 0.5rem 0
}

.book-form__submit {
  width: 100%;
}

.book-form__textarea {
  height: 4rem;
}

.book-form__radio-group {
  display: flex;
  justify-content: space-around;
}