.book-form-container {
  padding: 1rem;
}

.book-form__field {
  display: flex;
  flex-direction: column;
  margin: 0.5rem 0
}

.book-form__submit {
  width: 100%;
}

.book-form__textarea {
  height: 4rem;
}

.book-form__radio-group {
  display: flex;
  justify-content: space-around;
}