
.add-book-menu {
  position: fixed;
  bottom: -100%;
  transition: bottom 0.2s;
  width: 100%
}

.add-book-menu.open {
  bottom: 0;
}

.add-book-menu__option {
  background-color: aliceblue;
  height: 8vh;
  width: 100%;
  border: solid 1px black;
}