.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 320px;
  margin: auto;
  padding: 0.5rem;
}

.stack-container{
  border: solid 3px var(--highlight-1);
  border-radius: 1.5rem;
  margin-bottom: 1rem;
  background-color: var(--primary-color-1);
}

.stack-header {
  width: 100%;
  display: flex;
  justify-content: space-between
}

.stack-header h2 {
  max-width: 220px;
  overflow-wrap: break-word;
}

.menu-dots {
  max-height: 30px;
}

.book-container {
  grid-column: 1/13;
  padding: 1rem 0.3rem;
  background-color: var(--primary-color-2);
  border-radius: 1.5rem;
  border: solid 3px var(--highlight-1);
}

.book-info {
  grid-column: 7/13;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.description {
  margin-top: 0.5rem;
  max-width: 150px;
  overflow-wrap: break-word;
}

.action-buttons {
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  height: 100%;
  width: 100%;
}

.stack-buttons {
  grid-column: 1/13;
  display: flex;
  justify-content: space-around;
}

.movement-buttons {
  display: flex;
  justify-content: space-around;
}