.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px
}

.stack-container{
  border: solid 1px black;
  border-radius: 1.5rem;
  margin-top: 1rem;
}

.large-cover-img {
  height: 220px;
  width: 145px;
  background-color: lightgray;
  text-align: center;
}

.book-container {
  display: flex
}