.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 320px;
  margin: auto;
  padding: 0.5rem;
}

.stack-container{
  border: solid 1px black;
  border-radius: 1.5rem;
  margin-top: 1rem;
}

.stack-header {
  width: 100%;
  display: flex;
  justify-content: space-between
}

.book-container {
  grid-column: 1/13
}

.large-cover-img {
  grid-column: 1/7;
  height: 220px;
  width: 145px;
  background-color: lightgray;
}

.book-info {
  grid-column: 7/13;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.description {
  margin-top: 0.5rem;
}

.movement-buttons {
  grid-column: 6/8;
  display: flex;
}